.base-drawer{
	.base-drawer__title{
		@include flex(space-between);
		.base-drawer__title--text{
			line-height: 32px;
			@include titleStyle
		}
			
		.base-drawer__title--pagination{
			margin: 2px 0
		}
	}
	.el-drawer__header{
		padding: 20px 20px;
		margin-bottom: 0;
	}
}